<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:500|Vollkorn:400i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body>
    <div class="dropdown">
        <button class="dropbtn"><i class="fa fas fa-heartbeat"></i></button>
        <div class="dropdown-content">
            <a class="active" href="/"><i class="fa fas fa-home"></i> Home</a>
            <a href="/about"><i class="fa fas fa-question-circle"></i> About</a>
            <a href="/register"><i class="fa fas fa-user-plus"></i> Register</a>
            <a href="/login"><i class="fa fas fa-sign-in-alt"></i> Login</a>
        </div>
    </div>
    <div class="navbar">
        <a class="active" href="/"><i class="fa fas fa-home"></i> Home</a>
        <a href="/about"><i class="fa fas fa-question-circle"></i> About</a>
        <a href="/register"><i class="fa fas fa-user-plus"></i> Register</a>
        <a href="/login"><i class="fa fas fa-sign-in-alt"></i> Login</a>
    </div>

    <h1>About Us</h1>
    <p class="text" style="text-align: center">Brite stands for <span style="color:#E8E500">BREATH</span> and <span
            style="color:#E8E500">WRITE</span> - the major activities you can do on this website.</p>
    <div class="about">
        <h3>Our Vision</h3>
        <p class="smalltext">We would like to provide a safe platform for teenagers and young adults to share their
            thoughts
            and feelings. Messages are posted anonymously, but visible to all users in a group. As a result, people in a
            group, especially teachers and guardians, are more aware of their surroundings.</p>
        <hr>
        <h3>How to use</h3>
        <p class="smalltext">One member (usually teacher or group guardian) <span><a href="/register"
                    style="color:#E8E500">REGISTER</a></span> for an account and share the details with
            other members of the group.</p>
        <hr>
        <h3>Terms and Conditions</h3>
        <p class="smalltext">By using this website, you agree to our terms and conditions. Blah blah. Illegal or
            critical
            information (terrorism, killing, suicide,...) shall be reported to the authority. Blah blah. My lawyer will
            write this.<br><br>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt
            ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit
            anim id est laborum.<br><br> 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.<br><br>3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa
            qui officia deserunt mollit anim id est laborum.</p>
    </div>
</body>

</html>