<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Breath</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:500|Vollkorn:400i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body>
    <div class="dropdown">
        <button class="dropbtn"><i class="fa fas fa-heartbeat"></i></button>
        <div class="dropdown-content">
            <a class="active" href="/profile"><i class="fa fas fa-home"></i> Home</a>
            <a href="/profile/breath"><i class="fa fas fa-wind"></i> Breath</a>
            <a href="/profile/write"><i class="fa fas fa-edit"></i> Write</a>
            <a href="/profile/results"><i class="fa fas fa-book"></i> Diary</a>
            <a href="/profile/logout"><i class="fa fas fa-sign-out-alt"></i> Logout</a>
        </div>
    </div>
    <div class="navbar">
        <a class="active" href="/profile"><i class="fa fas fa-home"></i> Home</a>
        <a href="/profile/breath"><i class="fa fas fa-wind"></i> Breath</a>
        <a href="/profile/write"><i class="fa fas fa-edit"></i> Write</a>
        <a href="/profile/results"><i class="fa fas fa-book"></i> Diary</a>
        <a href="/profile/logout"><i class="fa fas fa-sign-out-alt"></i> Logout</a>
    </div>

    <h1>Breath</h1>
    <p class="instruction">Inhale and exhale in sync with this GIF</p>
    <img class="gif"
        src="https://66.media.tumblr.com/cdef846a4eabf7be9ec071b17118d7c9/tumblr_nm5xqtif2g1rr4jw3o1_500.gif" </body>
        </html>