<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:500|Vollkorn:400i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body>
    <div class="dropdown">
        <button class="dropbtn"><i class="fa fas fa-heartbeat"></i></button>
        <div class="dropdown-content">
            <a class="active" href="/"><i class="fa fas fa-home"></i> Home</a>
            <a href="/register"><i class="fa fas fa-user-plus"></i> Register</a>
            <a href="/login"><i class="fa fas fa-sign-in-alt"></i> Login</a>
        </div>
    </div>
    <div class="navbar">
        <a class="active" href="/"><i class="fa fas fa-home"></i> Home</a>
        <a href="/register"><i class="fa fas fa-user-plus"></i> Register</a>
        <a href="/login"><i class="fa fas fa-sign-in-alt"></i> Login</a>
    </div>
    <img class="hello" src="/images/hello.jpg" alt="hello" width="400" height="300">

    <h1>Welcome to Brite</h1>
    <h3>where you can breath and write to your heart's content</h3>
    <p class="text" style="text-align: center">If you're new here, please <span><a href="/register"
                style="color:#E8E500">REGISTER</a></span> your
        group with us. <br>If you're a returning user, <span><a href="/login" style="color:#E8E500">LOGIN</a></span> to
        access your group's page.</p>

</body>

</html>